
/*===========================================================================*/
                        /* ~~~ UTILITY CLASSES ~~~ */ 
/*===========================================================================*/


* {
    box-sizing: border-box;
}

.clearfix {
    overflow: hidden;
    z-index: 1;
}

.main-container {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px dashed black;
}

.inline-block {
    display: inline-block;
}

/*===========================  SPECIFIC ELEMENTS  ===========================*/
        
h1 {
    font-size: 30px;
    font-family: "Michroma", sans-serif;
}

h3 {
    font-size: 20px;
    font-family: "Michroma", sans-serif;
}

h4 {
    font-size: 16px;
    font-family: "Michroma", sans-serif;
}


/*==============================  FONT  =============================*/
        

.bold {
    font-weight: 700;
}

.pt-sans {
    font-family: "PT Sans Narrow", sans-serif;
}


/*==============================  SUPER RE-USE  =============================*/
        
.line-break {
    margin: 0 0 15px 0;
    border:1px solid #BDC3C7;
}

.text-content {
    margin: 0 40px 20px 40px;
    font-family: "PT Sans Narrow", sans-serif;
}

.spacing-margin {
    margin: 0 0 20px 0;
}

.align-cent {
    text-align: center;
}

.vert-align {
    vertical-align: middle;
}

.pre {
    white-space: pre; /* <-- THAT IS AWESOMENESS*/
}


/*===========================  INVISIBLE BORDERS  ===========================*/
        
.inv-2-bord {
    border: 2px solid transparent;
}

.inv-1-bord {
    border: 1px solid transparent;
}

/*===========================================================================*/
                        /* ~~~ HEADER CONTAINER ~~~ */ 
/*===========================================================================*/


        
.header-container {
    display: block;
    position: relative;
}

/*================================ TITLE ===============================*/

.website-title-container {
    background-color: rgba(74, 205, 106, .9);
    display: block;
    height: 200px;
    position: relative;
    top: 5px;
    z-index: 20;
}

.website-title-container h1 {
    color: white;
    position: absolute;
    left: 5px;
    bottom: 10px;
}


/*==============================  NAVBAR  =============================*/
        
.navbar-container {
    background-color: rgba(54, 72, 95, 1);
    display: block;
    position: relative;
    line-height: 30px;
    width: 100%;
    text-align: right;
    vertical-align: middle;
}

.nav-items {
    display: inline-block;
    position: relative;
}

.nav-items a {
    color: white; 
    text-decoration: none;
    font-size: 9px;
    font-family: "Michroma", sans-serif;
    font-weight: border-left: ; 
    padding: 0 10px;
}

.nav-items:hover {
    border: 2px solid rgb(74, 205, 106);
}


.nav-items:hover a {
    color: rgb(74, 205, 106);
}

/*===========================================================================*/
                        /* ~~~ MAIN CONTENT CONTAINER ~~~ */ 
/*===========================================================================*/

.main-content-container{
    display: block;
    position: relative;
}


/*==============================  ARTICLE  =============================*/
        
.article-title {
    margin: 20px 0 20px 20px;
}

/*==============================  SECTION  =============================*/
        
.section-title {
    margin: 25px 0 25px 25px;
}


/*==============================  TABLE  =============================*/
        
.main-table {
    width: 95%;
    margin: 0 auto;
}

.table-header {
    background-color: #BDC3C7;
    border: 1px solid #999999;
    font-weight: 700    ;
    padding: 5px 5px 5px 8px;
    text-align: left;
}
.main-table, .table-row, .table-cell {
    border: 1px solid #BDC3C7;
    border-collapse: collapse;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}


.table-button {
    background-color: #3498DC;
    color: white;
    font-size: 11px;
    padding: 5px 20px;
    text-decoration: none;
}

.table-button:hover {
    background-color: white;
    border: 2px ridge #3498DC;
    color: #3498DC;
    box-shadow: 2px 2px 7px 1px rgba(52,152,220,0.58);
}

/*==============================  CODE  =============================*/
        
.code-container {
    background-color: #BDC3C7;
    margin: 0 0 20px 0;
    padding: 15px;
}

.section-image-container {
    width: 95%;
    margin: 0 auto 20px auto;
    text-align: center;
}


/*=============================  SECTION IMAGE  =============================*/
        
.section-image {
    width: 100%;
}


/*==============================  ORDERED LIST  =============================*/

.ordered-list {
    list-style: decimal;
    font-family: "PT Sans Narrow", sans-serif;
    margin-left: 20px;
}

.list-item {
    padding: 10px 0;
}



/*===========================================================================*/
                        /* ~~~ COMMENT CONTAINER ~~~ */ 
/*===========================================================================*/



/*==============================  FORM CONTAINER  ===========================*/
        
.form-container {
    display: block;
    position: relative;
    text-align: center;
}

.info-container {
    text-align: right;
    margin: 0 25px 20px 15px;
}


/*==============================  INPUTS  =============================*/
        
.comment-input {
    display: inline-block;
    position: relative;
    right: 0;
    width: 75%;
    padding: 3px;
    margin: 5px 0;
}

.input-description {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding: auto 0;
}


/*=============================  COMMENT FIELD  =============================*/


.text-field-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.comment-text-field {
    width: 100%;
}


/*==============================  SUBMIT BUTTON  ===========================*/
     
.submit-button {
    width: 100%;
    background-color: #B02520;
    margin-bottom: 20px;
}   

.subm-but-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
}


.submit-button:hover {
    background-color: white;
    border: 2px solid #B02520;
    box-shadow: 2px 2px 7px 1px rgba(176,37,32,0.55);
}

.submit-button:hover a {
    color: #B02520;
    font-weight: 700;
}

/*============================  POSTED COMMENTS  ============================*/

.posted-comment-container {
    display: block;
    position: relative;
}
